<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.superMonkey.pm.mapper.BuildingTypeMapper">
<cache/>
  <resultMap id="BuildingtypeResultMap" type="BuildingType">
      <id property="typeno" column="TYPENO"/>
      <result property="typename" column="TYPENAME"/>
  </resultMap>
  
  <insert id="create"  parameterType="BuildingType" flushCache="true">
   insert into BuildingType (TYPENO,TYPENAME)
   values (#{typeno},#{typename})
  
  </insert>
  
   <update id="update" flushCache="true">
   update BuildingType set TYPENAME=#{typename}
   where TYPENO=#{typeno}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from BuildingType where TYPENO=#{typeno}
  </delete>
  
 <select id="selectListByAllWithoutPage" resultMap="BuildingtypeResultMap">
   select TYPENO,TYPENAME from BuildingType
  </select>
</mapper>