<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.superMonkey.pm.mapper.SecurityDutyLogMapper">
  <resultMap id="BaseResultMap" type="run.superMonkey.pm.model.entity.SecurityDutyLog">
    <id column="dutyno" jdbcType="DOUBLE" property="dutyno" />
    <result column="dutyname" jdbcType="VARCHAR" property="dutyname" />
    <result column="dutyDate" jdbcType="DATE" property="dutydate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dutyno, dutyname, dutyDate
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Double" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from security_duty_log
    where dutyno = #{dutyno,jdbcType=DOUBLE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Double">
    delete from security_duty_log
    where dutyno = #{dutyno,jdbcType=DOUBLE}
  </delete>

  <insert id="insert" parameterType="run.superMonkey.pm.model.entity.SecurityDutyLog">
    insert into security_duty_log (dutyno, dutyname, dutyDate
      )
    values (#{dutyno,jdbcType=DOUBLE}, #{dutyname,jdbcType=VARCHAR}, #{dutydate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="run.superMonkey.pm.model.entity.SecurityDutyLog">
    insert into security_duty_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dutyno != null">
        dutyno,
      </if>
      <if test="dutyname != null">
        dutyname,
      </if>
      <if test="dutydate != null">
        dutyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dutyno != null">
        #{dutyno,jdbcType=DOUBLE},
      </if>
      <if test="dutyname != null">
        #{dutyname,jdbcType=VARCHAR},
      </if>
      <if test="dutydate != null">
        #{dutydate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  
 
  
  <update id="updateByPrimaryKeySelective" parameterType="run.superMonkey.pm.model.entity.SecurityDutyLog">
    update security_duty_log
    <set>
      <if test="dutyname != null">
        dutyname = #{dutyname,jdbcType=VARCHAR},
      </if>
      <if test="dutydate != null">
        dutyDate = #{dutydate,jdbcType=DATE},
      </if>
    </set>
    where dutyno = #{dutyno,jdbcType=DOUBLE}
  </update>
  <update id="updateByPrimaryKey" parameterType="run.superMonkey.pm.model.entity.SecurityDutyLog">
    update security_duty_log
    set dutyname = #{dutyname,jdbcType=VARCHAR},
      dutyDate = #{dutydate,jdbcType=DATE}
    where dutyno = #{dutyno,jdbcType=DOUBLE}
  </update>
</mapper>