<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.superMonkey.pm.mapper.VehiclearchiveMapper">
	<resultMap id="vehiclearchive" type="VehiclearchiveEntity">
		<id column="carno" property="carno" />
		<result column="customerno" property="customerno" />
		<result column="vechicletype" property="vechicletype" />
		<result column="parkinglot" property="parkinglot" />
		<result column="state" property="state" />
	</resultMap>
	<insert id="create" >
		insert into Vehiclearchive values(#{carno},#{customerno},#{vechicletype},#{parkinglot},#{state})
	</insert>
	<update id="update">
		update Vehiclearchive
		<set>
			customerno=#{customerno},vechicletype=#{vechicletype},parkinglot=#{parkinglot},state=#{state}
		</set>
		<where>
			carno=#{carno}
		</where>
	</update>
	
	<delete id="delete">
		delete from Vehiclearchive where carno=#{carno}
	</delete>
	
	<select id="selectListByAll" resultMap="vehiclearchive">
		select * from  Vehiclearchive
	</select>
	
	<select id="selectByNo" resultMap="vehiclearchive">
		select * from  Vehiclearchive where carno=#{carno}
	</select>
	
	<select id="selectListByPage" resultMap="vehiclearchive">
		select * from Vehiclearchive
		<where>
			<if test="carno != '' and carno!=null">
				and carno=#{carno}
			</if>
			<if test="customerno != 0 and customerno!=null">
				and customerno=#{customerno}
			</if>
			<if test="state !='' and state!=null">
				and state=#{state}
			</if>
		</where>
		limit #{start},#{rows}
	</select>
	
	
	<select id="selectCountByCondition" resultType="int">
		select IFNULL(count(carno), 0) from Vehiclearchive
		<where>
			<if test="carno!='' and carno!=null">
				and carno=#{carno}
			</if>
			<if test="customerno !=0 and customerno!=null">
				and customerno=#{customerno}
			</if>
			<if test="state!='' and state!=null">
				and state=#{state}
			</if>
		</where>
	</select>
</mapper>