<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 默认使用了CGlib方式创建代理类 -->
	<bean id="cart" class="com.myapp.ShoppingCart" scope="session">
		<aop:scoped-proxy/>
	</bean>
	
	<!-- 使用jdk动态代理, ShoppingCart应该是个接口才可以使用-->
	<bean id="cart" class="com.myapp.ShoppingCart" scope="session">
		<aop:scoped-proxy proxy-target-class="false"/>
	</bean>
	<context:property-placeholder/>
	
	<aop:aspectj-autoproxy />
	

</beans>